/* global variables */
:root {
	--page-width: 893px;
	--page-height: 1188px;
	--text-dimmed: #9b9b9b;
	--input-background: rgba(231, 230, 255, 0.71);
	--black: #0A0A0D;
	--background: white;
}

@font-face {
	font-family: scala-sans;
	src: url('fonts/Scala_Sans_Regular_LF.woff2') format('woff2');
}

@font-face {
	font-family: scala-sans;
	font-weight: bold;
	src: url('fonts/Scala_Sans_Bold_LF.woff2') format('woff2');
}

@font-face {
	font-family: SegoeUI;
	src: url('fonts/SegoeUI.woff2') format('woff2');
}

/* index styles */
.tablink {
	background-color: var(--background);
	color: #333;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 4px 8px;
	font-size: 17px;
	height: 28px;
}

.tablink:hover {
	background-color: #ddd;
}

.page {
	display: none;
}

#button-container {
	text-align: center;
}

#page-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* page styles */
.page-container {
	position: relative;
	background-color: var(--background);
	margin: 0;
	border: 0;
	box-shadow: 1px 1px 3px 1px #333;
	border-collapse: separate;
	width: var(--page-width);
	height: var(--page-height);
	unicode-bidi: bidi-override;
}

.pane {
	position: absolute;
	font-family: scala-sans;
	font-size: 10.6px;
}

.pane .pane-bg {
	position: absolute;
}

.textlabel {
	position: absolute;
	border: none;
	background: none;
}

.textlabel-bold {
	position: absolute;
	border: none;
	background: none;
	font-size: 9.7px;
	font-weight: bold;
	text-align: center;
	line-height: 9.3px;
}

.textlabel-dimmed {
	position: absolute;
	color: var(--text-dimmed);
	border: none;
	background: none;
	font-size: 8px;
}

.button {
	position: absolute;
	border-color: #7c7c7c;
	border-style: solid;
	border-width: 3px;
	color: var(--background);
	background-color: #a8a8a8;
	font-family: 'scala-sans';
	font-size: 8px;
	line-height: 7px;
	padding: 0px;
	cursor: pointer;
	z-index: 1;
}

.button:disabled {
	border-color: #afafaf;
	color: #eeeeee;
	background-color: #dbdbdb;
}

.inputfield {
	position: absolute;
	background-color: var(--input-background);
	border: none;
	border-width: 0px;
	color: var(--black);
	font-family: SegoeUI;
	overflow: hidden;
	resize: none;
}

.inputfield-notched {
	position: absolute;
	text-align: center;
	background-color: #DEDDDE;
	color: var(--black);
	font-family: SegoeUI;
	border: none;
	border-width: 0px;
	clip-path: polygon(15% 0, 100% 0%, 100% 76%, 85% 100%, 0% 100%, 0% 24%);
	outline: none;
	overflow: hidden;
}

.inputfield-notched-wide {
	position: absolute;
	text-align: center;
	background-color: #DEDDDE;
	color: var(--black);
	border: none;
	border-width: 0px;
	clip-path: polygon(4% 0%, 100% 0%, 100% 80%, 96% 100%, 0% 100%, 0% 20%);
	outline: none;
	overflow: hidden;
}

.inputfield-noneditable {
	position: absolute;
	background-color: transparent;
	border: none;
	border-width: 0px;
	color: var(--black);
	font-family: SegoeUI;
	overflow: hidden;
	resize: none;
	pointer-events: none;
	text-align: center;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
	margin: 0;
	appearance: none;
	-webkit-appearance: none;
}
input[type=number] {
	appearance: textfield;
	-moz-appearance: textfield;
}

input[type=number].inputfield-regular::-webkit-outer-spin-button,
input[type=number].inputfield-regular::-webkit-inner-spin-button {
	appearance: none;
	-webkit-appearance: none;
}
input[type=number].inputfield-regular:hover::-webkit-outer-spin-button,
input[type=number].inputfield-regular:hover::-webkit-inner-spin-button {
	appearance: auto;
	-webkit-appearance: auto;
	margin-left: -1em;
}
input[type=number].inputfield-regular {
	appearance: textfield;
	-moz-appearance: textfield;
}
input[type=number].inputfield-regular:hover {
	appearance: auto;
	-moz-appearance: auto;
}

input[type=number].no-spinner::-webkit-outer-spin-button,
input[type=number].no-spinner::-webkit-inner-spin-button {
	appearance: none;
	-webkit-appearance: none;
}
input[type=number].no-spinner {
	appearance: textfield;
	-moz-appearance: textfield;
}

.radiobox-hint {
	font-size: 7px;
	font-weight: bold;
	position: absolute;
	width: 22px;
	height: 22px;
}

.rotate_m118 {
	-webkit-transform: rotate(-118deg);
	/* Chrome, Opera 15+, Safari 3.1+ */
	-ms-transform: rotate(-118deg);
	/* IE 9 */
	transform: rotate(-118deg);
	/* Firefox 16+, IE 10+, Opera */
}

.rotate_m84 {
	-webkit-transform: rotate(-84deg);
	-ms-transform: rotate(-84deg);
	transform: rotate(-84deg);
}

.rotate_m50 {
	-webkit-transform: rotate(-50deg);
	-ms-transform: rotate(-50deg);
	transform: rotate(-50deg);
}

.rotate_m16 {
	-webkit-transform: rotate(-16deg);
	-ms-transform: rotate(-16deg);
	transform: rotate(-16deg);
}

.rotate_5 {
	-webkit-transform: rotate(5deg);
	-ms-transform: rotate(5deg);
	transform: rotate(5deg);
}

.rotate_41 {
	-webkit-transform: rotate(41deg);
	-ms-transform: rotate(41deg);
	transform: rotate(41deg);
}

.rotate_77 {
	-webkit-transform: rotate(77deg);
	-ms-transform: rotate(77deg);
	transform: rotate(77deg);
}

.pane .checkcircle {
	position: absolute;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: var(--input-background);
	border: 1.5px solid var(--text-dimmed);
	appearance: none;
	-webkit-appearance: none;
	outline: none;
	cursor: pointer;
}

.pane .checkcircle:hover {
	border-color: var(--black);
}

.pane .checkcircle:checked {
	border-color: var(--black);
	background-color: var(--black);
}

.pane .checkbox-ammunition {
	position: absolute;
	background-color: var(--input-background);
	appearance: none;
	-webkit-appearance: none;
	outline: none;
	cursor: pointer;
	margin: 0;
}

.pane .checkbox-ammunition:checked {
	border: none;
	background-color: transparent;
}

.pane .checkbox-normal {
	position: absolute;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.pane .checkbox-normal input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.pane .checkmark {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: var(--background);
}

.pane .checkbox-normal:hover input ~ .checkmark {
	background-color: #ddd;
}

.pane .checkmark:after {
	position: absolute;
	display: none;
}

.pane .checkbox-normal input:checked ~ .checkmark:after {
	display: block;
}

.pane .checkbox-normal .checkmark:after {
	width: 100%;
	height: 100%;
	content: "✓";
	text-align: center;
}

.pane .ammunition-arrow {
	width: 10px;
	height: 30px;
	background-image: url("img/page_stats/ammunition/arrow_unchecked.svg");
}

.pane .ammunition-arrow:checked {
	background-image: url("img/page_stats/ammunition/arrow_checked.svg");
}

.pane .ammunition-axe-top {
	width: 10px;
	height: 30px;
	background-image: url("img/page_stats/ammunition/axe_unchecked.svg");
	margin-right: -15px;
	padding-right: 15px;
}

.pane .ammunition-axe-base {
	width: 10px;
	height: 30px;
	background-image: url("img/page_stats/ammunition/axe_unchecked.svg");
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
	margin-left: -5px;
	padding-left: 15px;
}

.pane .ammunition-axe-top:checked {
	background-image: url("img/page_stats/ammunition/axe_checked.svg");
	margin-right: -15px;
	padding-right: 15px;
}

.pane .ammunition-axe-base:checked {
	background-image: url("img/page_stats/ammunition/axe_checked.svg");
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
	margin-left: -5px;
	padding-left: 15px;
}

.pane .ammunition-bullet {
	width: 10px;
	height: 12px;
	background-image: url("img/page_stats/ammunition/bullet_unchecked.svg");
}

.pane .ammunition-bullet:checked {
	background-image: url("img/page_stats/ammunition/bullet_checked.svg");
}

.pane .ammunition-dagger {
	width: 10px;
	height: 30px;
	background-image: url("img/page_stats/ammunition/dagger_unchecked.svg");
}

.pane .ammunition-dagger:checked {
	background-image: url("img/page_stats/ammunition/dagger_checked.svg");
}

.pane .ammunition-flask {
	width: 10px;
	height: 30px;
	background-image: url("img/page_stats/ammunition/flask_unchecked.svg");
}

.pane .ammunition-flask:checked {
	background-image: url("img/page_stats/ammunition/flask_checked.svg");
}

.pane .ammunition-hammer-top {
	width: 10px;
	height: 30px;
	background-image: url("img/page_stats/ammunition/hammer_unchecked.svg");
	margin-left: -2.5px;
	padding-left: 10px;
	margin-right: -2.5px;
	padding-right: 5px;
}

.pane .ammunition-hammer-base {
	width: 10px;
	height: 30px;
	background-image: url("img/page_stats/ammunition/hammer_unchecked.svg");
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
	margin-left: -2.5px;
	padding-left: 10px;
	margin-right: -2.5px;
	padding-right: 5px;
}

.pane .ammunition-hammer-top:checked {
	background-image: url("img/page_stats/ammunition/hammer_checked.svg");
	margin-left: -2.5px;
	padding-left: 10px;
	margin-right: -2.5px;
	padding-right: 5px;
}

.pane .ammunition-hammer-base:checked {
	background-image: url("img/page_stats/ammunition/hammer_checked.svg");
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
	margin-left: -2.5px;
	padding-left: 10px;
	margin-right: -2.5px;
	padding-right: 5px;
}

.pane .ammunition-spear {
	width: 10px;
	height: 30px;
	background-image: url("img/page_stats/ammunition/spear_unchecked.svg");
	margin-top: -20px;
	padding-top: 50px;
}

.pane .ammunition-spear:checked {
	background-image: url("img/page_stats/ammunition/spear_checked.svg");
}

.pane .whiteout {
	border: none;
	background-color: var(--background);
	position: absolute;
}

.bluetext {
	color: #4055FF;
}


#modalCanvas {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.8);
	z-index: 40;
}

.modalDialog {
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	z-index: 41;
	background-color: white;
	border: 2px solid black;
}

.modalTitle {
	border-bottom: 2px solid black;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

.modalContent {
	padding-left: 5px;
	padding-right: 5px;
}

.modalDialogButtonsElement {
	padding: 2px;
	display: grid;
	align-items: center;
	text-align: center;
}

.modalDialogButton {
	display: inline;
	margin-left: 2px;
	margin-right: 2px;
}

.modalDialogButton a.modalDialogButtonLink {
	background-color: #bbbbbb;
	border: 1px solid black;
	padding: 2px;
	text-decoration: none;
	color: black;
}

.modalDialogButton a.modalDialogButtonLink:hover {
	border-width: 2px;
	padding: 1px;
}

.modalDialogButton a.modalDialogButtonLink:focus {
	box-shadow: 0px 0px 0px 1px white inset;
}

#menu {
	position: absolute;
	background-color: #bbbbbb;
	display: grid;
}

/* Context menu */

.cm_container {
	z-index: 201;
}

.cm_container li {
	font-size: 9.3px;
}


/**************/
/* New Styles */
/**************/

/********************/
/* pane backgrounds */
/********************/

/* headers */

#CSfront .header {
	background-image: url(img/backgrounds/stats_header.svg);
	-webkit-print-color-adjust: exact;
	print-color-adjust: exact;
}

/* grey-bg */
div.grey-bg-tb-fancy {
	background-color: #DEDDDE;
	-webkit-print-color-adjust: exact;
	print-color-adjust: exact;
}

div.grey-bg-tb-fancy::before {
	background-image: url(img/decorators/background_abilities/top.svg);
	background-repeat: no-repeat;
	background-size: 100%;
	filter: invert(100%) sepia(96%) saturate(15%) hue-rotate(212deg) brightness(104%) contrast(104%);
	width: 100%;
	height: 20px;
	content: '';
	position: absolute;
	top: 0;
	-webkit-print-color-adjust: exact;
	print-color-adjust: exact;
}

div.grey-bg-tb-fancy::after {
	background-image: url(img/decorators/background_abilities/bottom.svg);
	background-repeat: no-repeat;
	background-size: 100%;
	filter: invert(100%) sepia(96%) saturate(15%) hue-rotate(212deg) brightness(104%) contrast(104%);
	width: 100%;
	height: 20px;
	content: '';
	position: absolute;
	bottom: -3px;
	-webkit-print-color-adjust: exact;
	print-color-adjust: exact;
}

/******************/
/* display styles */
/******************/

div.display-field {
	position: absolute;
	border: none;
	padding: 0;
	font-family: SegoeUI;
	overflow: hidden;
	resize: none;
	pointer-events: none;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.dimmed-text {
	color: var(--text-dimmed);
}

table {
	border-collapse: collapse;
}
tr.table-total {
	font-weight: bold;
}
tr.table-total > th, tr.table-total > td {
	border-top: 1px solid black;
}
tr.empty-row {
	height: 1em;
}

div.abilities {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	cursor: pointer;
}

div.abilities div.ability {
	background-image: url(img/decorators/background_abilities/entry.svg);
	background-repeat: no-repeat;
	background-size: 100%;
	aspect-ratio: 0.843;
	position: relative;
	-webkit-print-color-adjust: exact;
	print-color-adjust: exact;
}

ul.nobullets {
	list-style: none;
	padding-left: 0;
}

/****************/
/* input styles */
/****************/

.inputfield-regular {
	position: absolute;
	background-color: var(--input-background);
	border: none;
	border-width: 0px;
	color: var(--black);
	font-family: SegoeUI;
	overflow: hidden;
	resize: none;
	padding: 0;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
}

select.hide-arrow {
	appearance: none;
	padding: 0%;
}
select.hide-arrow:hover {
	appearance: auto;
	padding: 0%;
}


.inputfield-disabled {
	background-color: transparent;
	pointer-events: none;
}


.inputfield-iconbutton {
	position: absolute;
	padding: 1px;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-color: var(--background);
	cursor: pointer;
	border: none;
}


/****************/
/* Context Menu */
/****************/


#context-menu-cover {
	position: absolute;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
	z-index: 20;
}

.context-menu {
	position: absolute;
	padding: 0;
	box-sizing: border-box;
	z-index: 21;
	box-shadow: 0 0 5px #333;
	scrollbar-color: #777 rgba(0.2,0.2,0.2,0.1);
	scrollbar-width: auto;
	overscroll-behavior-y: none;
	font-size: 10.6px;
}

.context-menu *{
	box-sizing: border-box;
	position: relative;
}

.context-menu ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	background-color: #ccc;
}

.context-menu li{
	padding: 3px 5px;
	padding-right: 1.7em;
	cursor: pointer;
	white-space: nowrap;
	text-align: left;
}

.context-menu li:hover{
	background-color: #bbb;
}

.context-menu li .icon_span{
	width: 1.5em;
	height: 1.2em;
	vertical-align: bottom;
	display: inline-block;
	border-right: 1px solid #aaa;
	margin-right: 5px;
	padding-right: 5px;
	text-align: center;
}

.context-menu li .sub_span{
	width: 1em;
	display: inline-block;
	text-align: center;
	position: absolute;
	right: 0.5em;
}

.context-menu li.separator{
  border-bottom: 1px solid #aaa;
  margin: 0px;
  padding: 0;
  cursor: default;
}

.context-menu li.separator:hover{
  background-color: inherit;
}

.context-menu li[disabled=""]{
  color: #777;
  cursor: default;
}


/**********/
/* Modals */
/**********/

.modal-canvas {
	position: fixed;
	z-index: 52;
	left: 0%;
	top: 0%;
	width: 100%;
	height: 100%;
	display:flex;
	justify-content:center;
	align-items:center;
	background-color: rgba(0.5, 0.5, 0.5, 0.5);
}

.modal-window {
	position: absolute;
	visibility: visible;
	max-width: 75%;
}

.modal-title {
	background-color: #a0a0a0;
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	border: solid var(--black) 2px;
}

.modal-content {
	display: flex;
	justify-content: center;
	background-color: var(--background);
	border-left: solid var(--black) 2px;
	border-right: solid var(--black) 2px;
	border-bottom: solid var(--black) 2px;
	padding: 5px;
}
.modal-content .inputfield-regular {
	position: relative;
}
.modal-content .display-field {
	position: relative;
}
.modal-content .button {
	position: relative;
}

.modal-content .multicolumn {
	column-width: 10em;
}

.modal-buttons {
	display: flex;
	justify-content: center;
	background-color: var(--background);
	border-left: solid var(--black) 2px;
	border-right: solid var(--black) 2px;
	border-bottom: solid var(--black) 2px;
}
.modal-buttons button {
	position: relative;
	font-size: 12px;
	padding: 4px;
	margin: 4px;
}

/******************/
/* Print settings */
/******************/

@media print {
	@page {
		margin: 0;
	}

	#button-container,
	#button-separator {
		display: none !important;
	}

	.page-container {
		margin-top: 20px;
		box-shadow: none;
		zoom: 85%;
		-moz-transform: scale(0.9) translate(0, -60px);
	}

	.page:not(.templ) {
		display: block !important;
		break-after: always;
		page-break-after: always;
	}

	#prefe {
		break-after: avoid !important;
		page-break-after: avoid !important;
	}

	#page-wrapper {
		display: block;
	}

	.nonprintable {
		display: none !important;
	}

	.inputfield {
		background-color: transparent;
	}

	input[type=number] {
		appearance: textfield;
		-moz-appearance: textfield !important;
	}
	input[type=number]::-webkit-outer-spin-button,
	input[type=number]::-webkit-inner-spin-button {
		appearance: none;
		-webkit-appearance: none;
	}

	select.inputfield {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
	}

	.pane .checkcircle {
		border-color: var(--black);
		background-color: var(--background);
	}

	.pane .checkcircle:checked {
		background-color: var(--black);
		print-color-adjust: exact;
	}

	.pane .printable-image {
		print-color-adjust: exact;
	}

	.inputfield-regular {
		background-color: transparent;
	}

	.inputfield-regular {
		background-color: transparent;
	}

	.hide-in-print {
		content-visibility: hidden;
		background-image: none!important;
		background-color: transparent;
		border-color: transparent;
	}

	.print-underline {
		border-bottom-style: solid!important;
		border-bottom-color: #e0e0e0!important;
		border-bottom-width: 1px!important;
	}
}